<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CP Demo 2: Get top 10 most populated countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class="container">
        <h1>Cloud Provisioning Demo 2</h1>
        <h3>API: get top 10 most populated countries</h3>
        <br>
        <div>
                <a href="/"><- Back to API list</a>
        </div>
        <br>
        {% for entry in entries %}
            <div>
                <b>{{ entry[0] }}</b>, population: <b>{{ entry[1] }}</b>
            </div>
        {% endfor %}
        <br>
        <div>Total entries: {{ entries | length }}</div>
    </div>
</body>
</html>